[Containers]
excluded_containers = container1, container2
included_containers =

[Settings]
logfile = vpnhealth.log
verbose = true
speedtest = true
telegram_enabled = true
prowl_enabled = true

[Telegram]
bottoken = YOUR_BOT_TOKEN_HERE
chatid = YOUR_CHAT_ID_HERE

[Prowl]
apikey = YOUR_PROWL_API_KEY
